src/WP8/UnitTests/obj/*
src/WP8/Controls/Design/obj/
src/WP8/Controls/Design/objd/
src/WP8/Controls/obj/
*.suo
src/WP8/Samples/APIExplorer/obj/
src/WP8/Samples/BackgroundTransfer/obj/
src/WP8/Samples/CoreConcepts/obj/
src/WP8/Samples/LiveLogin/obj/
src/WP8/Samples/StreamUploadDownload/obj/
src/WP8/Source/Bin/
src/WP8/Source/obj/
src/WP8/Controls/Bin/
src/WP8/Samples/APIExplorer/Bin/
src/WinStore/Samples/Windows/XAML/APIExplorer/bin/
src/WinStore/Samples/Windows/XAML/APIExplorer/obj/
src/WinStore/Samples/Windows/XAML/FileUploadDownload/bin/
src/WinStore/Samples/Windows/XAML/FileUploadDownload/obj/
src/WinStore/Samples/Windows/XAML/StreamUploadDownload/bin/
src/WinStore/Source/obj/
src/WinStore/Source/bin/
src/WP8/UnitTests/Bin/
src/WinStore/UnitTests/obj/
src/WinStore/UnitTests/bin/
src/WinStore/Source/objd/
*.user
src/WinStore/Samples/Windows/HTML/LiveSDKJavaScriptLab/bin/
src/WinStore/Samples/Windows/XAML/StreamUploadDownload/obj/
src/WinStore/Samples/WindowsPhone/HTML/LiveSDKJavaScriptPhoneSample/bin/
src/WinStore/Samples/WindowsPhone/HTML/LiveSDKJavaScriptPhoneSample/bld/
src/WinStore/Samples/WindowsPhone/XAML/LiveSDKPhoneRTSample/bin/
src/WinStore/Samples/WindowsPhone/XAML/LiveSDKPhoneRTSample/obj/
src/Desktop/Source/obj/
src/Desktop/Source/objd/
src/Desktop/UnitTests/obj/
src/Desktop/Samples/ApiExplorer/obj/
src/Desktop/Samples/ApiExplorer/bin/
src/Desktop/Source/bin/
src/WinStore/Samples/Windows/HTML/PhotoSky/PhotoSkyJavaScript/bin/
src/WinStore/Samples/Windows/HTML/PhotoSky/PhotoSkyJavaScript/bld/
src/WinStore/Samples/Windows/XAML/PhotoSky/PhotoSkyCSharp/bin/
src/WinStore/Samples/Windows/XAML/PhotoSky/PhotoSkyCSharp/obj/
