src/WP8/UnitTests/obj/*
src/WP8/Controls/Design/obj/
src/WP8/Controls/Design/objd/
src/WP8/Controls/obj/
*.suo
src/WP8/Samples/APIExplorer/obj/
src/WP8/Samples/BackgroundTransfer/obj/
src/WP8/Samples/CoreConcepts/obj/
src/WP8/Samples/LiveLogin/obj/
src/WP8/Samples/StreamUploadDownload/obj/
src/WP8/Source/Bin/
src/WP8/Source/obj/
